<!doctype html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="/src/assets/css/style.css" rel="stylesheet" />
  <div id="business-logo-underlay"></div>
  <nav class="window-tabs">

    <a href="/src/app/landing/landing.component.html"><button id="business-logo">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#ffd400" class="w-6 h-6">
          <path d="M5.223 2.25c-.497 0-.974.198-1.325.55l-1.3 1.298A3.75 3.75 0 007.5 9.75c.627.47 1.406.75 2.25.75.844 0 1.624-.28 2.25-.75.626.47 1.406.75 2.25.75.844 0 1.623-.28 2.25-.75a3.75 3.75 0 004.902-5.652l-1.3-1.299a1.875 1.875 0 00-1.325-.549H5.223z" />
          <path fill-rule="evenodd" d="M3 20.25v-8.755c1.42.674 3.08.673 4.5 0A5.234 5.234 0 009.75 12c.804 0 1.568-.182 2.25-.506a5.234 5.234 0 002.25.506c.804 0 1.567-.182 2.25-.506 1.42.674 3.08.675 4.5.001v8.755h.75a.75.75 0 010 1.5H2.25a.75.75 0 010-1.5H3zm3-6a.75.75 0 01.75-.75h3a.75.75 0 01.75.75v3a.75.75 0 01-.75.75h-3a.75.75 0 01-.75-.75v-3zm8.25-.75a.75.75 0 00-.75.75v5.25c0 .414.336.75.75.75h3a.75.75 0 00.75-.75v-5.25a.75.75 0 00-.75-.75h-3z" clip-rule="evenodd" />
        </svg></button>
    </a>

    <a href="/src/app/landing/landing.component.html"><button id="manila-folder-tab-home">Home</button></a>

    <a href="/src/app/abouts/abouts.component.html"><button id="manila-folder-tab-about">About Us</button></a>

    <a href="/src/app/profiles/profiles.component.html"><button id="manila-folder-tab-profiles">Who We Are</button></a>

    <a href="/src/app/services/services.component.html"><button id="manila-folder-tab-services">Service Area</button></a>

    <div class="hero-banner"></div>
  </nav>

</head>

<body>
  <main>
    <h2><b>About Us</b></h2>
    <article>
      <p>Russel Street Medical opened in 2020, and is located in Melbourne's CBD at: 427 Swanston Street Melbourne 3000 - just opposite of RMIT University Building 10 - and within walking distance of Melbourne Central Station.</p>

      <p>We strive to help all of our patients with a focus on preventative healthcare, a view to managinc chronic health conditions with a holistic approach, and with access to a wide range of specialist care providers when needed.</p>

      <i>RMIT students and staff receive discounts through our partnership programs.</i>
    </article>

    <table>
      <tr>
        <th>Consultation</th>
        <th>Normal Fee</th>
        <th>RMIT Member Fee</th>
        <th>Medicare Rebate</th>
      </tr>

      <tr>
        <td>Standard</td>
        <td>$80.00</td>
        <td>$60.00</td>
        <td>$40.00</td>
      </tr>
      <tr>
        <td>Long or Complex</td>
        <td>$125.00</td>
        <td>$95.00</td>
        <td>$75.00</td>
      </tr>
    </table>

    <article>

      <h2><b>Who We Are</b></h2>
      <h4>Dr. Stephen Hill</h4>
      <i></i>

      <h4>Ms. Kiyoko Tsu</h4>
      <i></i>
    </article>

  </main>

  <section id="page-image-underlay"></section>
</body>

</html>